chronograf:
  version: 1.3.3.4
  source_hash: 1c3374f3b085d78b7c16323812eb6c44ce29dbb5efadae98129c7c2b19b1076c
  environment:
    influxdb_url: http://localhost:8086/
    kapacitor_url: http://localhost:9092/
    reporting_disabled: 1
